feedparser
pyyaml
requests
trafilatura
beautifulsoup4
tldextract
pandas
numpy
scikit-learn
sentence-transformers==2.7.0
networkx
sumy
python-dateutil
youtube-transcript-api
spacy
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
